body {
    background-color: darkgrey;
}

header {
    text-align: center;
    font-size: 25px;
}

nav a {
    display: inline-block;
    width: 25%;
    text-align: center;
    padding: 20px 4%;
    background-color: gray;
}

nav {
    background-color: gray;
}

aside {
    background-color: grey;
    float: left;
    width: 14%;
    height: 1360px;
    margin-top: 20px;   
}

aside h2 {
    margin-top: 30px;
    text-decoration: underline;
    font-size: 25px;

}

aside li {
    font-size: 20px;
    line-height: 35px;
    
}

main {
    display: inline-block;
    width: 83%;
    height: auto;
    margin-left: 30px;
    font-size: 20px;
}

main h3 {
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

.images {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

footer p {
    text-align: center;
}