<style>

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    font-weight: 600;
    text-align: center;
}
.stilo {
    background-color: green;
    color: aqua;
    font-style: bold;
}
body{
    font-size: 16px;
    line-height: 3em;
    font-style: bold;
}
#yellow {
    background-color: yellow;
}
#red {
    background-color: red;
}
#brown {
    background-color: brown;
}
</style>